
.docs-search {
  position: relative;
  margin: 0 .15vw;
  padding: 6px;
}

.docs-search input.form-control {
  background: #303541;
  color: #FFF;
  border-color: #252933;
  box-shadow: inset 0 8px 8px -8px #252933;
  font-weight: 300;
  padding: 0 0 0 40px;
}

.docs-search .kbc-icon-search {
  position: absolute;
  top: 18px;
  left: 20px;
  color: #a3a9b7;
  font-size: 22px;
}

input.st-default-search-input {
  display: block;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

strong {
  font-weight: 700;
}

.nav {
  padding-left: 20px !important;
}

table { 
  border: 1px solid black; 
} 

td, th { 
  border: 1px solid black; padding: 4px;
}

h2, h3, h4 {
  font-weight: 700;
}

.kbc-main>.container-fluid {
  padding: 15px;
}

.image-popup {
    display: inline-block;
    margin: 10px;
    border: 2px solid #f5f5f5;
    padding: 10px;
    cursor: pointer;
}

.image-popup img {
    max-width: 500px;
    max-height: 500px;
}

ul.kbc-nav-sidebar li > ul {
    display: none;
}

ul.kbc-nav-sidebar li.active > ul {
    display: block;
}
