---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage
  frontmatter={{
    title: 'Page Not Found',
    template: 'splash',
    pagefind: false,
  }}
>
  <p>
    <strong>The page you requested doesn't exist. Sorry about that. If we did something wrong, let us know at
    <a href="mailto:support@keboola.com">support@keboola.com</a>.</strong>
  </p>

  <p style="text-align: center;">
    <img src="/keboola-kolecko.png" alt="Confused Octopus" width="300" />
  </p>

  <p>If you are looking for some other stuff that does not exist, you might want to visit:</p>
  <ul>
    <li><a href="https://connection.keboola.com">connection.keboola.com</a> — for logging in into Keboola</li>
    <li><a href="https://keboolastatus.com/">keboolastatus.com</a> — for getting Keboola Status updates</li>
    <li><a href="https://help.keboola.com">help.keboola.com</a> — for general help with using Keboola</li>
    <li><a href="https://developers.keboola.com">developers.keboola.com</a> — for developing a Keboola extension</li>
    <li><a href="https://blog.keboola.com/">blog.keboola.com</a> — something to read for data analysts</li>
    <li><a href="https://500.keboola.com/">500.keboola.com</a> — something to read for tech geeks</li>
  </ul>
</StarlightPage>
