---
import Icon from '@astrojs/starlight/components/Icon.astro';

const { editUrl } = Astro.locals.starlightRoute;
const tooltip = 'Want to improve this page? Submit a pull request on GitHub. We review all suggestions within 48 hours.';
---
{editUrl && (
  <div class="suggest-edit-wrapper" data-tooltip={tooltip}>
    <a href={editUrl} class="sl-flex suggest-edit-link print:hidden">
      <Icon name="pencil" size="1.2em" />
      Suggest an Edit
    </a>
  </div>
)}
