<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Keboola">

	<title>{{ page.title }} | Keboola Connection Developers Knowledge Base</title>

	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
</head>
<body>

	<div class="root">
		<div class="container header">
			<div class="inside">
				<a href="{{ '/' | prepend: site.baseurl }}" class="logo"><img src="{{ '/assets/img/logo.png' | prepend: site.baseurl }}"></a>
				<span class="label">USER DOCUMENTATION</span>

				<form role="search" action="{{ '/search/' | prepend: site.baseurl }}">
					<input name="q" size="30" type="text" class="form-control"
						   placeholder="Search User Documentation">
				</form>
			</div>
		</div>

		<div class="container main">
			<div class="inside">
				<div class="row">

					<div class="col-md-3 sidebar">
						<div class="navigation">
						{% include navigation.html context="/" %}
						</div>
					</div>
					<div class="col-md-9 content">

						<div class="page">
							{% if page.showBreadcrumbs != false %}
							{% include breadcrumbs.html %}
							{% endif %}

							<h1>{{ page.title }}</h1>

						 	{{ content }}
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container footer">
			<div class="inside">
				<div class="row">
					<div class="col-sm-12">
						<!--Footer-->
					</div>
				</div>
			</div>
		</div>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/magnific-popup.js' | prepend: site.baseurl }}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	  $('.image-popup').magnificPopup({type:'image', delegate:'img',
		callbacks: {
		  elementParse: function(item) { item.src = item.el.attr('src'); }
		}});

		$('.sidebar .navigation').affix({
			offset: {
				top: function() {
					return $('.container.header').height();
				}
			}
		})
	});
	</script>
{% include analytics.html %}
</body>
</html>
