<!DOCTYPE html>
<html lang="en">
<head>
	{% include gtm-head.html %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Keboola">
	<title>{{ page.title }} | Keboola User Documentation</title>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script>
      WebFont.load({
        google: {
          families: ['Lato:400,700,400italic,700italic']
        }
      });
	</script>
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
</head>
<body>
{% include gtm-body.html %}
	<div class="root">
		<div class="container header nocontent">
			<div class="inside">
				<a href="{{ '/' | prepend: site.baseurl }}" class="logo"><img src="{{ '/assets/img/logo.png' | prepend: site.baseurl }}"></a>
				<span class="label">USER DOCUMENTATION</span>

				<div class="keboola-algolia-docsearch">
					<input size="30" type="text" class="form-control"
						   id="keboola-algolia-docsearch-dropdown"
						   placeholder="Search documentation"
					/>
				</div>
			</div>
		</div>

		<div class="container main">
			<div class="inside">
				<div class="row">

					<div class="col-md-3 sidebar nocontent">
						<div class="navigation">
						{% include navigation.html context="/" %}
						</div>
					</div>
					<div class="col-md-9 content">

						<div class="page">
							{% if page.showBreadcrumbs != false %}
							{% include breadcrumbs.html %}
							{% endif %}

							<h1 id="main-header">{{ page.title }}</h1>

						 	{{ content }}

							<script type="text/javascript" src="https://keboola.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-3ddrgv/b/8/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=712ca69e"></script>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="container footer nocontent">
			<div class="inside">
				<p>
					&copy; {{ 'now' | date: "%Y" }} Keboola
				</p>
			</div>
		</div>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.js" integrity="sha256-YJ/0BNvdkt0S5QIAGO0w4v7/WSgeHaszrsu7wxMB/G4=" crossorigin="anonymous"></script>
	<script>
		anchors.add();
	</script>
	<script src="{{ '/assets/js/magnific-popup.js' | prepend: site.baseurl }}"></script>
	<script>
	$(document).ready(function() {
	  $('.image-popup').magnificPopup({type:'image', delegate:'img',
		callbacks: {
		  elementParse: function(item) { item.src = item.el.attr('src'); }
		}});
	});
	</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
  apiKey: '321c5560d8787496b9036e999d1c2894',
  indexName: 'keboola_help',
  appId: '1F2Y1SPYSP',
  inputSelector: '#keboola-algolia-docsearch-dropdown',
  debug: false, // Set debug to true if you want to inspect the dropdown
  algoliaOptions: {
    hitsPerPage: 10
  }
});
</script>

<!-- Begin KAI chatbot -->
<script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
<df-messenger
		location="us-central1"
		project-id="keboola-ai"
		agent-id="2400cda3-8b20-435d-8770-11569a61ced0"
		language-code="en"
		intent=WELCOME>
		<df-messenger-chat-bubble
			chat-title="Kai Documentation Chatbot (Beta)">
	</df-messenger-chat-bubble>
</df-messenger>
<style>
	df-messenger {
		z-index: 999;
		position: fixed;
		bottom: 16px;
		right: 16px;
		--df-messenger-chat-border-radius: 6px;
		--df-messenger-chat-window-box-shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.25);
		--df-messenger-titlebar-title-font-size: 16px;
		--df-messenger-send-icon-color: #a2aab8;
		--df-messenger-send-icon-color-active: #0B57D0;
		--df-messenger-send-icon-color-hover: #0B57D0;
		--df-messenger-input-padding: 8px 0 8px 16px;
 	}
</style>
<!-- End KAI chatbot -->
<script> // prefil env checkbox for Atlassian issue collector
window.ATL_JQ_PAGE_PROPS = {
  '712ca69e': {
    fieldValues: {
      recordWebInfo: '1', // field Name
      recordWebInfoConsent: ['1'] // field Id
    }
  }
};
</script> 
</body>
</html>
